<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/welcome.css"  type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
  </head>
  <body id="weclome-1">
    <h1 id="welcome" class="animated flipInY"><%= link_to 'Job Tracker', companies_path %></h1>
  </body>
  </html>
