<div class="container">
    <div class="row my-4">
      <div class="col-lg-8">
        <img class="img-fluid rounded" src="https://preview.ibb.co/e0qj77/the_roaming_platypus_310824_unsplash_copy.jpg"height="20px" width="100%" alt="">
      </div>
      <div class="col-lg-4">

        <p style="font-size:15px;">We will add something else here</p>

      </div>
    </div>
    <div id="header" class="card text-white bg-secondary my-4 text-center">
      <div class="card-body">
 <%= link_to "Create New Company", new_company_path(),{:style=>'color:#FFFFFF; font-size:35px;',:class => "css_class"} %>
      </div>
    </div>