body {
  margin: 0;
  padding: 0;

}

h1 {
  font-family: arial;
  font-weight: bold;
  font-size: 14em;
  text-align: center;
  margin-bottom: 300px;
  text-transform: uppercase;
  background: url(city.jpg);
  background-size: cover;
  background-attachment: fixed;
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;

}
